

/* Fonts */

@font-face {
    font-family: SentinelBook;
    src: url('fonts/Sentinel-Book.otf');
}

@font-face {
    font-family: SentinelMedium;
    src: url('fonts/Sentinel-Book.otf');
}

@font-face {
    font-family: WhitneyBook;
    src: url('fonts/Whitney-Book.otf');
}

@font-face {
    font-family: WhitneyMedium;
    src: url('fonts/Whitney-Medium.otf');
}

@font-face {
    font-family: WhitneySemibold;
    src: url('fonts/Whitney-Semibold.otf');
}


/* General */

body {
    margin: 50px 0 0 0;
}

.header {
    font-family: 'SentinelMedium';
    text-align: center;
    font-size: 20px;
    padding: 0 0 5px 0;
    border-bottom: 3px solid #afafaf;
    margin: 27px 0 12px 0;
    color: #565656;
}

.title {
    font-family: 'SentinelBook';
    text-align: center;
    font-size: 25px;
    margin: -30px 0 0 0;
}


/* Flashes */

#flashed_messages {
    height: 25px;
    text-align: center;
    color: #b51a1a;
    font-family: 'WhitneyMedium';
    font-size: 18px;
}


/* Landing */

#logo {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

#logo img {
    width: 100%;
}

#slogan {
    text-align: center;
    font-family: 'SentinelBook';
    font-size: 20px;
}


/* Driver card */

.driver_card {
    background-color: #eee;
    width: 290px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Whitney-Medium';
    font-size: 16px;
    color: #393939;
}

.driver_name {
    font-family: 'Whitney-Medium';
    padding: 0 3px;
    font-size: 18px;
}

.linebreak {
    width: 290px;
    border-bottom: 1px solid #abb4b7;
    margin: 6px 0 15px 0;
}

.descriptor {
    text-transform: uppercase;
    font-family: 'WhitneySemibold';
    font-size: 12px;
    margin: 0 0 0 2px;
    color: #595959;
    width: 105px;
    text-align: right;
}

.date, .time, .location {
    width: 190px;
}

.date {
    margin: -15px 0 0 125px;
}

.time {
    margin: 5px 0 18px 125px;
}

.location {
    margin: -15px 0 18px 125px;
}
 
.driver_card ul {
    list-style-type: none;
    margin: -15px 0 0 85px;
}

.driver_card li {
    padding: 0 0 4px 0;
}


/* Forms */

.form {
    width: 320px;
    margin: 50px auto 0 auto;
}

.form label {
    text-transform: uppercase;
    font-family: 'WhitneySemibold';
    font-size: 12px;
    margin: 0 0 0 2px;
    color: #595959;
}

input[type="text"]  {
    background-color: #eee;
    width: 320px;
    height: 40px;
    border: none;
    font-size: 20px;
    padding: 10px 10px 8px 10px;
    margin: 2px 0 14px 0;
    color: #393939;
    font-family: 'Whitney-Book';
}

input[type="text"]:focus {
    outline: 3px solid #bbb;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.submit_button {
    margin: 27px auto 100px auto;
    width: 130px;
}

#submit, #driver_button {
    background-color: #ddbc83;
    border: none;
    width: 130px;
    padding: 7px 0 5px 0;
    text-transform: uppercase;
    font-family: 'WhitneySemibold';
    color: #6d5a43;
    font-size: 13px;
}

#submit:hover, #driver_button:hover {
    outline: 3px solid #6d5a43;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-align: center;
}

#directions {
    list-style-type: none;
    margin: -2px 0 0 -42px;
}

input[type="checkbox"] {
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    background-color: #eee;
    cursor: pointer;
    margin: 0 0 -40px 282px;
    outline-width: 0;
    background: url('/static/img/unchecked.png') no-repeat center #eee;
}

input[type="checkbox"]:checked {
    background: url('/static/img/checked.png') no-repeat center #eee;
    cursor: pointer;
    border: none;
    outline-width: 0;
}

#directions label {
    text-transform: none;
    background-color: #eee;
    height: 20px;
    width: 300px;
    display: block;
    border: none;
    font-size: 20px;
    padding: 12px 10px 8px 10px;
    color: #393939;
    font-family: 'Whitney-Book';
    cursor: pointer;
}

#directions li {
    margin: 5px 0;
}

.new_item {
    margin: 30px auto 0 auto;
}


/* Event */

#rides_there {
    width: 320px;
    float: left;
}

#rides_back {
    width: 320px;
    float: right;
}

#rides {
    width: 660px;
    margin: 0 auto;
}

#driver_button {
    margin: 38px auto 24px auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.rider_button {
    width: 320px;
    background-color: #c0ccd0;
    color: #64696b;
    text-transform: uppercase;
    font-family: 'WhitneySemibold';
    font-size: 12px;
    margin: 0 0 -15px -15px;
    padding: 6px 0;
    text-align: center;
}

.rider_button:hover {
    outline: 3px solid #64696b;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


