

/* Fonts */

@font-face {
    font-family: SentinelBook;
    src: url('fonts/Sentinel-Book.otf');
}

@font-face {
    font-family: SentinelMedium;
    src: url('fonts/Sentinel-Book.otf');
}

@font-face {
    font-family: WhitneyBook;
    src: url('fonts/Whitney-Book.otf');
}

@font-face {
    font-family: WhitneyMedium;
    src: url('fonts/Whitney-Medium.otf');
}

@font-face {
    font-family: WhitneySemibold;
    src: url('fonts/Whitney-Semibold.otf');
}


/* General */

html {
    padding: 0 0 75px 0;
}

body {
    margin: 50px 0 0 0;
}

.header {
    font-family: 'SentinelMedium';
    text-align: center;
    font-size: 20px;
    padding: 0 0 5px 0;
    border-bottom: 3px solid #afafaf;
    margin: 27px 0 12px 0;
    color: #565656;
}

.title {
    font-family: 'SentinelBook';
    text-align: center;
    font-size: 25px;
}


/* Flashes */

#index_flashed_messages, #event_flashed_messages {
    height: 25px;
    text-align: center;
    color: #b51a1a;
    font-family: 'WhitneyMedium';
    font-size: 18px;
}

#event_flashed_messages {
    margin: 0 0 30px 0;
}


/* Landing */

#logo {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

#logo img {
    width: 100%;
}

#slogan {
    text-align: center;
    font-family: 'SentinelBook';
    font-size: 20px;
}


/* Driver card */

.driver_card a {
    color: #393939;
}

.driver_card {
    background-color: #eee;
    width: 320px;
    margin: 0 auto 10px auto;
    font-family: 'Whitney-Medium';
    font-size: 16px;
}

.driver_name {
    font-family: 'Whitney-Medium';
    font-size: 18px;
    padding: 10px 0 0 10px;
}

.linebreak {
    width: 290px;
    border-bottom: 1px solid #abb4b7;
    margin: 6px auto 15px auto;
}

.descriptor {
    text-transform: uppercase;
    font-family: 'WhitneySemibold';
    font-size: 12px;
    margin: 0 0 0 17px;
    color: #595959;
    width: 105px;
    text-align: right;
}

.date, .time, .location {
    width: 190px;
}

.date {
    margin: -15px 0 0 140px;
}

.time {
    margin: 5px 0 18px 140px;
}

.location {
    margin: -15px 0 0 140px;
}
 
.driver_card ul {
    list-style-type: none;
    margin: 5px 0 10px 100px;
}

.driver_card li {
    padding: 0 0 4px 0;
}

.breaker {
    height: 12px;
}

.riders_label {
    margin: 15px 0 -20px 17px;
}

.the_choice_driver {
    border: 5px solid #eee;
    color: #393939;
}

.the_choice_driver:hover {
    background-color: #fafafa;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


/* Forms */

.form {
    width: 320px;
    margin: 50px auto 0 auto;
}

.form label {
    text-transform: uppercase;
    font-family: 'WhitneySemibold';
    font-size: 12px;
    margin: 0 0 0 2px;
    color: #595959;
}

input[type="text"]  {
    background-color: #eee;
    width: 320px;
    height: 40px;
    border: none;
    font-size: 20px;
    padding: 10px 10px 8px 10px;
    margin: 2px 0 14px 0;
    color: #393939;
    font-family: 'Whitney-Book';
}

input[type="text"]:focus {
    outline: 3px solid #bbb;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.submit_button {
    margin: 27px auto 25px auto;
    width: 130px;
}

#submit, #driver_button, #save {
    background-color: #ddbc83;
    border: none;
    width: 130px;
    padding: 7px 0 5px 0;
    text-transform: uppercase;
    font-family: 'WhitneySemibold';
    color: #6d5a43;
    font-size: 13px;
}

#submit:hover, #driver_button:hover, #save:hover {
    outline: 3px solid #6d5a43;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    text-align: center;
}

#directions {
    list-style-type: none;
    margin: -2px 0 0 -42px;
}

input[type="checkbox"] {
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    background-color: #eee;
    cursor: pointer;
    margin: 0 0 -40px 282px;
    outline-width: 0;
    background: url('/static/img/unchecked.png') no-repeat center #eee;
}

input[type="checkbox"]:checked {
    background: url('/static/img/checked.png') no-repeat center #eee;
    cursor: pointer;
    border: none;
    outline-width: 0;
}

#directions label {
    text-transform: none;
    background-color: #eee;
    height: 20px;
    width: 300px;
    display: block;
    border: none;
    font-size: 20px;
    padding: 12px 10px 8px 10px;
    color: #393939;
    font-family: 'Whitney-Book';
    cursor: pointer;
}

#directions li {
    margin: 5px 0;
}


/* Event */

#rides_there {
    width: 320px;
    float: left;
}

#rides_back {
    width: 320px;
    float: right;
}

#rides {
    width: 660px;
    margin: 0 auto;
}

#driver_button {
    margin: 38px auto 24px auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.rider_button {
    width: 314px;
    background-color: #c0ccd0;
    color: #64696b;
    text-transform: uppercase;
    font-family: 'WhitneySemibold';
    font-size: 13px;
    padding: 6px 0 4px 0;
    text-align: center;
    border: 3px solid #c0ccd0;
}

.rider_button:hover {
    background-color: #dde4e6;
    border: 3px solid #c0ccd0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.no_drivers {
    padding: 30px;
    text-align: center;
    font-family: 'WhitneyMedium';
    line-height: 130%;
    color: #2064c7;
    font-size: 18px;
}


/* Driver and rider */

#join_driver_card {
    margin: 50px auto 0 auto;
}

#driver_title {
    margin: 0 0 30px 0;
}

#driver_riders, #driver_info {
    width: 320px;
    margin: 0 auto;
}

#driver_info {
    margin: 50px auto 0 auto;
}

#driver_info .form {
    margin: 0 0 0 0;
}

.rider_card {
    background-color: #eee;
    padding: 12px;
    margin: 0 0 10px 0;
    color: #393939;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.rider_name {
    font-family: 'Whitney-Medium';
    font-size: 18px;
    margin: 0 0 10px 0;
}

.rider_phone {
    font-family: 'WhitneyBook';
    font-size: 16px;
}

.delete_rider {
    width: 30px;
    height: 30px;
    float: right;
    margin: -40px 5px 0 0;
}

#delete_button {
    background-color: #cc6969;
    border: none;
    width: 130px;
    padding: 7px 0 5px 0;
    text-transform: uppercase;
    font-family: 'WhitneySemibold';
    color: #911313;
    font-size: 13px;
    text-align: center;
    margin: 38px auto 51px auto;
}

#delete_button:hover {
    outline: 3px solid #911313;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    text-align: center;
}
