{% extends "base.html" %}
{% block title %}Join as a driver{% endblock %}
{% block body %}
<script>
    var setSubmit = function(first_check, second_check) {
        if (first_check || second_check){
            $('.submit_button').slideDown(400);
        } else {
            $('.submit_button').slideUp(200);
        }
    }

    $(document).ready(function() {
        $('#ride_there').hide();
        $('#ride_back').hide();
        $('.submit_button').hide()

        var first_check = false;
        var second_check = false;

        $('#directions-0').change(function() {
            if (this.checked) {
                first_check = true
                setSubmit(first_check, second_check);
                $('#ride_there').slideDown(400)
            } else {
                first_check = false;
                setSubmit(first_check, second_check)
                $('#ride_there').slideUp(200)
            }
        });

        $('#directions-1').change(function() {
            if (this.checked) {
                second_check = true;
                setSubmit(first_check, second_check);
                $('#ride_back').slideDown(400)
            } else {
                second_check = false;
                setSubmit(first_check, second_check);
                $('#ride_back').slideUp(200)
            }
        })
    });
</script>

<div class="title">Join as a driver</div>

<form method="POST" class="form" class="new_item">
    {{ form.csrf_token }}
    {{ form.name.label }}<br>
    {{ form.name() }}<br>
    {{ form.phone.label }}<br>
    {{ form.phone() }}<br>
    {{ form.email.label }}<br>
    {{ form.email() }}<br>
    {{ form.capacity.label }}<br>
    {{ form.capacity() }}<br>
    {{ form.car_color.label }}<br>
    {{ form.car_color() }}<br>
    {{ form.make_model.label }}<br>
    {{ form.make_model() }}<br>
    {{ form.directions.label }}<br>
    {{ form.directions() }}<br>

    <div id="ride_there">
        <div class="header">Ride there</div>
        {{ form.leaving_from.label }}<br>
        {{ form.leaving_from() }}<br>
        {{ form.leaving_at.label }}<br>
        {{ form.leaving_at(placeholder="October 24 2003, 4:05 PM") }}<br>
    </div>

    <div id="ride_back">
        <div class="header">Ride back</div>
        {{ form.going_to.label }}<br>
        {{ form.going_to() }}<br>
        {{ form.going_at.label }}<br>
        {{ form.going_at(placeholder="October 24 2003, 4:05 PM") }}<br>
    </div>

    <div class="submit_button">{{ form.submit() }}</div>
</form>
{% endblock %}