{% extends "base.html" %}
{% block title %}Join this ride{% endblock %}
{% block body %}

    <div class="title">Join this ride</div>

    <div id="rider">
        <div id="driver_name">{{ driver.name }}</div>

        <div class="descriptor">Departure time</div>
        <div class="data">{{ driver.datetime }}</div>

        <div class="descriptor">Leaving from</div>
        <div class="data">{{ driver.location }}</div>
    </div>

    <form method="POST" class="form">
        {{ form.csrf_token }}
        {{ form.name.label }}<br>
        {{ form.name() }}<br>
        {{ form.phone.label }}<br>
        {{ form.phone() }}<br>
        <div id="submit_button">{{ form.submit() }}</div>
    </form>
{% endblock %}