{% extends "base.html" %}
{% block title %}Join this ride{% endblock %}
{% block body %}
<div class="title">Join this ride</div>

<div class="new_item">
    <div class="driver_card">
        <div class="driver_name">{{ driver.name }}</div>
        <div class="linebreak"></div>

        <div class="descriptor">Departure time</div>
        <div class="date">{{ moment(driver.datetime).format('dddd MMMM D') }}</div>
        <div class="time">{{ moment(driver.datetime).format('LT') }}</div>

        <div class="descriptor">Leaving from</div>
        <div class="location">{{ driver.location }}</div>

        {% if driver.riders.all() %}
            <div class="descriptor">Current riders</div>
            <ul>
            {% for rider in driver.riders.all() %}
                <li>{{ rider.name }}</li>
            {% endfor %}
            </ul>
            <div id="nobreaker"></div>
        {% else %}
            <div id="breaker"></div>
        {% endif %}
    </div>

    <form method="POST" class="form">
        {{ form.csrf_token }}
        {{ form.name.label }}<br>
        {{ form.name() }}<br>
        {{ form.phone.label }}<br>
        {{ form.phone() }}<br>
        <div class="submit_button">{{ form.submit() }}</div>
    </form>
</div>
{% endblock %}