{% extends "base.html" %}
{% block title %}Join this ride{% endblock %}
{% block body %}
<script>
    $(document).ready(function() {
        $('.ve_driver_hover').hide();

        $('.the_choice_driver').hover(function() {
            $(this.children[1]).fadeIn(200);
        }, function() {
            $(this.children[1]).fadeOut(200);
        })
    });
</script>

<div class="title">Join this ride</div>

<a href="{{ url_for('show_driver', event_token = event_token, driver_id = driver.id, _external=True) }}">
    <div class="driver_card" id="join_driver_card">
        <div class="the_choice_driver">
            <div class="driver_name">{{ driver.name }}</div>
            <div class="ve_driver_hover">View/edit</div>
            <div class="linebreak"></div>

            <div class="descriptor">Departure time</div>
            <div class="date">{{ driver.datetime.strftime('%A %B %-d') }}</div>
            <div class="time">{{ driver.datetime.strftime('%-I:%M %p') }}</div>

            <div class="descriptor">Leaving from</div>
            <div class="location">{{ driver.location }}</div>

            {% if driver.riders.all() %}
            <div class="descriptor riders_label">Current riders</div>
            <ul>
                {% for rider in driver.riders.all() %}
                <li>{{ rider.name }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <div class="breaker"></div>
            {% endif %}
        </div>
    </div>
</a>

<form method="POST" class="form">
    {{ form.csrf_token }}
    {{ form.name.label }}<br>
    {{ form.name(placeholder="Penelope Wiggums") }}<br>
    {% if form.name.errors %}
        {% for error in form.name.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {{ form.phone.label }}<br>
    {{ form.phone(placeholder="(202) 418 - 2332") }}<br>
    {% if form.phone.errors %}
        {% for error in form.phone.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {{ form.email.label }}<br>
    {{ form.email(placeholder="pwiggums@earthlink.net") }}<br>
    {% if form.email.errors %}
        {% for error in form.email.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endif %}
    <div class="submit_button">{{ form.submit() }}</div>
</form>
{% endblock %}