{% extends "base.html" %}
{% block title %}Ride there with {{ driver.name }}{% endblock %}
{% block body %}
<script>
    $(document).ready(function() {
        $('.delete_rider').hover(function() {
            $(this.parentNode.parentNode).css("background-color","#cc6969");
            $(this.parentNode.parentNode).css("color","#911313");
            $(this).attr('src', "/static/img/close_red.png");
        } ,function() {
            $(this.parentNode.parentNode).css("background-color","#eee");
            $(this.parentNode.parentNode).css("color","#393939");
            $(this).attr('src', "/static/img/close_grey.png");
        });
    });
</script>

<div class="title" id="driver_title">Ride there with {{ driver.name }}</div>

<a href="{{ url_for('add_driver', event_token = event_token, _external=True) }}"><div id="delete_button">Delete ride</div></a>

{% if driver.riders.all() %}
    <div id="driver_riders">
        <div class="header">Current riders</div>
        {% for rider in driver.riders.all() %}
            <div class="rider_card">
                <div class="rider_name">{{ rider.name }}</div>
                <div class="rider_phone">{{ rider.phone }}</div>
                <a href="{{ url_for('add_rider', event_token = event_token, driver_id = driver.id, _external=True) }}"><img class="delete_rider" src="/static/img/close_grey.png"></a>
            </div>
        {% endfor %}
    </div>
{% endif %}

<div id="driver_info">
    <div class="header">Info</div>
    <form method="POST" class="form" class="new_item">
        {{ form.csrf_token }}
        {{ form.name.label }}<br>
        {{ form.name() }}<br>
        {{ form.phone.label }}<br>
        {{ form.phone() }}<br>
        {{ form.capacity.label }}<br>
        {{ form.capacity() }}<br>
        {{ form.car_color.label }}<br>
        {{ form.car_color() }}<br>
        {{ form.make_model.label }}<br>
        {{ form.make_model() }}<br>
        {% if driver.going_there %}
            {{ form.leaving_from.label }}<br>
            {{ form.leaving_from() }}<br>
            {{ form.leaving_at.label }}<br>
            {{ form.leaving_at() }}<br>
        {% else %}
            {{ form.going_to.label }}<br>
            {{ form.going_to() }}<br>
            {{ form.going_at.label }}<br>
            {{ form.going_at() }}<br>
        {% endif %}
        <div class="submit_button">{{ form.save() }}</div>
    </form>
</div>
{% endblock %}