{% extends "base.html" %}
{% block title %}Ride 
    {% if driver.going_there %}
        there
    {% else %}
        back
    {% endif %}
with {{ driver.name }}{% endblock %}
{% block body %}

<script>
    $(document).ready(function() {
        $('.delete_rider').hover(function() {
            $(this.parentNode.parentNode).css("background-color","#cc7979");
            $(this.parentNode.parentNode).css("color","#911313");
            $(this).attr('src', "/static/img/close_red.png");
        } ,function() {
            $(this.parentNode.parentNode).css("background-color","#eee");
            $(this.parentNode.parentNode).css("color","#393939");
            $(this).attr('src', "/static/img/close_grey.png");
        });
    });
</script>

{% if get_flashed_messages() %}
<div id="event_flashed_messages" class="flash">
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

<div class="title" id="driver_title">
    Ride 
    {% if driver.going_there %}
        there
    {% else %}
        back
    {% endif %}
    with {{ driver.name }}
</div>

<form id="delete_driver_form" action="{{ url_for('delete_driver', event_token = event_token, driver_id = driver.id) }}" method="POST">
    <input type="submit" id="delete_button" value="Delete ride"/>
</form>

{% if driver.riders.all() %}
    <div id="driver_riders">
        <div class="header">Current riders</div>
        {% for rider in driver.riders.all() %}
            <div class="rider_card">
                <div class="rider_name">{{ rider.name }}</div>
                <div class="rider_phone">{{ rider.phone }}</div>
                <form action="{{ url_for('delete_rider', event_token = event_token, driver_id = driver.id, rider_id = rider.id) }}" method="POST">
                    <input type="image" class="delete_rider" src="/static/img/close_grey.png">
                </form>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div id="no_riders"></div>
{% endif %}

<div id="driver_info">
    <div class="header">Driver info</div>
    <form method="POST" class="form" class="new_item">
        {{ form.csrf_token }}
        {{ form.name.label }}<br>
        {{ form.name() }}<br>
        {% if form.name.errors %}
            {% for error in form.name.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {{ form.phone.label }}<br>
        {{ form.phone() }}<br>
        {% if form.phone.errors %}
            {% for error in form.phone.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {{ form.email.label }}<br>
        {{ form.email() }}<br>
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {{ form.capacity.label }}<br>
        {{ form.capacity() }}<br>
        {% if form.capacity.errors %}
            <div class="error">{{ form.capacity.errors[-1] }}</div>
        {% endif %}
        {{ form.car_color.label }}<br>
        {{ form.car_color() }}<br>
        {% if form.car_color.errors %}
            {% for error in form.car_color.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {{ form.make_model.label }}<br>
        {{ form.make_model() }}<br>
        {% if form.make_model.errors %}
            {% for error in form.make_model.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {% if driver.going_there %}
            {{ form.leaving_from.label }}<br>
            {{ form.leaving_from() }}<br>
            {{ form.leaving_at.label }}<br>
            {{ form.leaving_at(placeholder="October 24 2003, 4:05 PM") }}<br>
            {% if form.leaving_at.errors %}
                {% for error in form.leaving_at.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% else %}
            {{ form.going_to.label }}<br>
            {{ form.going_to() }}<br>
            {{ form.going_at.label }}<br>
            {{ form.going_at(placeholder="October 24 2003, 4:05 PM") }}<br>
            {% if form.going_at.errors %}
                {% for error in form.going_at.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endif %}
        <div class="submit_button">{{ form.save() }}</div>
    </form>
</div>
{% endblock %}