{% extends "base.html" %}
{% block title %}{{ event.name }}{% endblock %}
{% block body %}
    {% if get_flashed_messages() %}
    <div id="event_flashed_messages" class="flash">
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <div class="title">{{ event.name }}</div>

    <a href="{{ url_for('add_driver', event_token = event_token, _external=True) }}"><div id="driver_button">Join as a driver</div></a>

    <div id="rides">
        {% if event.drivers.all() %}
            <div id="rides_there">
                <div class="header">Rides there</div>
                {% if rides_there %}
                    {% for driver in rides_there %}
                        <a href="{{ url_for('show_driver', event_token = event_token, driver_id = driver.id, _external=True) }}">
                            <div class="driver_card">
                                <div class="the_choice_driver">
                                    <div class="driver_name">{{ driver.name }}</div>
                                    <div class="linebreak"></div>

                                    <div class="descriptor">Departure time</div>
                                    <div class="date">{{ moment(driver.datetime).format('dddd MMMM D') }}</div>
                                    <div class="time">{{ moment(driver.datetime).format('LT') }}</div>

                                    <div class="descriptor">Leaving from</div>
                                    <div class="location">{{ driver.location }}</div>

                                    {% if driver.riders.all() %}
                                        <div class="descriptor riders_label">Current riders</div>
                                        <ul>
                                            {% for rider in driver.riders.all() %}
                                            <li>{{ rider.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <div class="breaker"></div>
                                    {% endif %}
                                </div>
                                {% if driver.riders.all()|length < (driver.capacity - 1) %}
                                    <a href="{{ url_for('add_rider', event_token = event_token, driver_id = driver.id, _external=True) }}"><div class="rider_button">Join this ride</div></a>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="no_drivers">There are no rides there yet! Why don't you join as a driver?</div>
                {% endif %}
            </div>

            <div id="rides_back">
                <div class="header">Rides back</div>
                {% if rides_back %}
                    {% for driver in rides_back %}
                        <a href="{{ url_for('show_driver', event_token = event_token, driver_id = driver.id, _external=True) }}">
                            <div class="driver_card">
                                <div class="the_choice_driver">
                                    <div class="driver_name">{{ driver.name }}</div>
                                    <div class="linebreak"></div>

                                    <div class="descriptor">Departure time</div>
                                    <div class="date">{{ moment(driver.datetime).format('dddd MMMM D') }}</div>
                                    <div class="time">{{ moment(driver.datetime).format('LT') }}</div>

                                    <div class="descriptor">Leaving from</div>
                                    <div class="location">{{ driver.location }}</div>

                                    {% if driver.riders.all() %}
                                        <div class="descriptor riders_label">Current riders</div>
                                        <ul>
                                            {% for rider in driver.riders.all() %}
                                            <li>{{ rider.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <div class="breaker"></div>
                                    {% endif %}
                                </div>
                                {% if driver.riders.all()|length < (driver.capacity - 1) %}
                                    <a href="{{ url_for('add_rider', event_token = event_token, driver_id = driver.id, _external=True) }}"><div class="rider_button">Join this ride</div></a>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="no_drivers">There are no rides back yet! Why don't you join as a driver?</div>
                {% endif %}
            </div>
        {% else %}
            <div class="no_drivers">There are no rides there or back! Why don't you join as a driver?</div>
        {% endif %}
    </div>
{% endblock %}