{% extends "base.html" %}
{% block title %}Motorpool{% endblock %}
{% block body %}
<div id="index_flashed_messages" class="flash">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
<div id="logo"><img src="/static/img/logo.png"></div>
<div id="slogan">Organize carpools for your event:</div>
<form method="POST" class="form">
    {{ form.csrf_token }}
    {{ form.name.label }}<br>
    {{ form.name() }}<br>
    {% if form.name.errors %}
        {% for error in form.name.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endif %}
    <div class="submit_button">{{ form.submit() }}</div>
</form>
{% endblock %}